

@font-face
{
font-family: cheri_bold;
src: url('CHERI___.TTF');
font-weight:bold;
font-stretch: semi-expanded;
}
@font-face
{
font-family: cheri_light;
src: url('CHERI___.TTF');
font-stretch: semi-expanded;
}
html,
body {
   margin: 0;
    padding: 0;
}

body {
    /*background-color: #C7F464;*/
    background-color: #F1F1DC;
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    color: #4d4d4d;
    width: 700px;
    margin: 0px auto 0px auto;
    -webkit-font-smoothing: antialiased;
    -moz-font-smoothing: antialiased;
    -ms-font-smoothing: antialiased;
    -o-font-smoothing: antialiased;
    font-smoothing: antialiased;
}
#info {
    margin: 100px auto;
    color: #353535;
    border: 0px solid papayaWhip;
    font-size: 18px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7);
    text-align: center;
}

#info a {
    color: inherit;
}

#game_canvas {
    position: relative;
}
.game_layer {
    position: relative;
    margin: 0px auto;
    border: 1px solid #FFFFFF;
    border-radius:25px;
    display: block;
    width: 100%;
    box-shadow: 5px 5px 5px #888888;
}

#game_header {
    /*height: 80px;*/
    font-family: cheri_bold;
    font-size: 55px;
    text-align:center;
    /*background-color: #FF6B6B;*/
}
#game_header h1 {
    width: 98%;
    font-size: 55px;
    font-weight: bold;
    text-align: center;
    margin: 50px auto;
    color: #000000;
    color: rgba(0,0,0, 0.8);
    text-shadow: -2px -2px rgba(0, 0, 0, 0.2);
    -webkit-text-rendering: optimizeLegibility;
    -moz-text-rendering: optimizeLegibility;
    -ms-text-rendering: optimizeLegibility;
    -o-text-rendering: optimizeLegibility;
    text-rendering: optimizeLegibility;
}

#game_header h1:hover {
    text-shadow: 0 0 1px #000,
                 0 0 10px rgba(199, 107, 107, 0.8);
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

#game_score {
    height: 100px;
    width: 100%;
    margin-top: 6px;
    border: 0px solid #440020;
    font-family: cheri_bold;
    font-size: 40px;
    background-color: #4ECDC4;
}
#happy_score, #evil_score {
    display: inline;
    height: 80px;
    float: left;
    position: relative;
    top:42%;
    border: 0px solid #440020;
    color: #000000;

}
#happy_score {
    padding-left: 23%;
    right: 0px;
    margin:auto 0px auto auto;
}
#evil_score {
    padding-left: 7%;
    left: 2px;
    margin:auto auto auto 0px;
}

#evil_results, #happy_results {
    color: #AA1111;
}


#game_start_screen {
    font-family: cheri_bold;
    width: 700px;
    height: 500px;
    background-color: #BBD774;
    background:
                url(../js/content/happy_right.png) 25px 45px no-repeat,
                url(../js/content/evil_left.png) 580px 335px no-repeat,
                url(../js/content/fondo1.png) 0px 0px no-repeat;
    box-shadow: 10px 10px 5px #888888;

}
#game_counter_screen {
    width: 700px;
    height: 500px;
    background-color: #BBD774;
}
#game_counter {
    font-family: cheri_bold;
    width: 125px;
    height: 125px;
    font-size: 120px;
    margin-left: 310px;
    margin-top: 180px;
}
#game_start_button {
    margin: 0px auto;
    margin-top: 140px;
}
#game_start_instructions {
    margin: 0px auto;
}
#game_start_button, #game_start_instructions {
    width: 400px;
    height: 100px;
    font-size: 45px;
    text-align:center;
    color: #FFFFFF;
    background-color: #3E3F12;
    border-radius:25px;
    box-shadow: 10px 10px 5px #888888;
    padding-bottom: 13px;
}
#game_start_button span, #game_start_instructions span{
    position: relative;
    top: 50%;
    margin: 20px auto 20px auto;
    text-shadow: 2px 5px 0 rgba(62, 63, 18, 0.7);
}

#game_instructions {
    font-family: Arial;
    width: 680px;
    font-size: 18px;
    background-color: #9E6F2E;
    color:#FFFFFF;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
    border:0px;
}

#contact {
    font-family: Arial;
    font-size: 20px;
    color:#322020;
    position: absolute;
    right:15px;
    bottom:15px;
}